"$schema" = "https://jj-vcs.github.io/jj/latest/config-schema.json"

[user]
email = "mail@brphilly.dev"
name = "Brady Phillips"

[ui]
diff-editor = [
  "nvim",
  "--cmd",
  "let g:auto_session_enabled = v:false",
  "-c",
  "DiffEditor $left $right $output",
]
bookmark-list-sort-keys = ["committer-date-", "author-date-", "name"]
pager = "less -FR"
default-command = [
  "log",
  "--no-graph",
  "-T",
  "heads_branches",
  "-r",
  "(visible_heads() ~ remote_bookmarks() ~ tags()) | bookmarks()",
]

[signing]
behaviour = "drop"
backend = "ssh"
key = "~/.ssh/id_ed25519_sk_token2_purple.pub"

[git]
sign-on-push = true
push-new-bookmarks = true

[revsets]
log = "(trunk()..@):: | @..trunk() | fork_point(@ | trunk()) | ancestors(@, 5)"

[template-aliases]
heads_branches = '''
if(root,
  format_root_commit(self),
  label(if(current_working_copy, "working_copy"),
    concat(
      separate(" ",
        format_short_change_id_with_change_offset(self),
        format_short_commit_id(commit_id),
        format_short_signature_oneline(author),
        format_timestamp(commit_timestamp(self)),
        local_bookmarks,
        tags,
        working_copies,
        if(conflict, label("conflict", "conflict")),
        if(empty, label("empty", "(empty)")),
        if(description,
          description.first_line(),
          label(if(empty, "empty"), description_placeholder),
        ),
      ) ++ "\n",
    ),
  )
)
'''
